html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Sørg for at både html og body fyller hele høyden */
    overflow: hidden; /* Hindre scrolling */
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(121, 34, 34);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
    font-size: clamp(1rem, 5vw, 2rem);
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem; 
}
.wrapper {
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: whitesmoke;
    max-width: 450px;
    padding: 2rem 4rem 5px 4rem;
    color:rgb(121, 34, 34);
    width: 100%;
    min-height: 100vh; /* Moderne løsning for å håndtere viewporthøyde */
    height: 100%; /* Fall-back for eldre nettlesere */
}
.wrapper:hover {
    /* box-shadow: 0px 0px 3px 5px rgb(254, 71, 71); */
    background-color: rgb(60, 60, 60);
    color:lightgreen;
    
    
}
p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}
#count-el {
    display:inline-block;
    width:fit-content;
    padding:1rem 3rem;
    background-color: rgb(4, 255, 84);
    border-radius: 8px;
    color:black;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom:1rem;
}
button {
    width:250px; /* Sett fast bredde */
    height: 250px; /* Angi høyden eksplisitt, eller bruk auto */
    background-color: rgb(18, 96, 192);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center; /* Sørger for at knappen ikke strekker seg hvis forelderen er flex */
}

button:active {
    background-color: lightgreen; /* Endres til lysgrønn ved klikk */
}