body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    background-color: rgb(196, 200, 254);
    max-width: 400px;
    padding:2rem;
    border-radius: 8px;
}

button {
    padding:1rem 2rem;
    background-color: lightblue;
    border:1px solid lightcoral;
    border-radius: 4px;
    font-size: 1.5rem;
}

button:hover {
    background-color: bisque;
}